<div class="container">
  <div class="new-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<form>
  <div class="form-group">
    <div class="edit-avatar">
      <%= image_tag current_user.image.url(:small), class: "round-avatar-set" %>
    </div>

    <div class="new-form-hints edit-description-heading">
      <div class="user-name">
        <h2><%= current_user.username %></h2>
      </div>
        <p><small>Edit your profile information.</small></p>
    </div>
  <hr />
    <div>
      <%= f.file_field :image, class: "form-control" %>
        <div class="new-form-hints">
          <p><small>Upload avatar.</small></p>
        </div>
    </div>

    <div class="field">
      <%= f.text_field :username, class: "form-control", autofocus: true %>
        <div class="new-form-hints">
          <p><small>Change your username.</small></p>
        </div>
    </div>
<hr />
  <div class="new-form-hints">
      <p><strong>Where will people contact you.</strong></p>
    </div>
  <div class="field">
    <%= f.select :social_app, ["Whatsapp", "KiK", "Instagram", ], prompt: "Messeging app" %>
    <br />
    <br />

    <%= f.text_field :msg, class: "form-control", autofocus: true, placeholder: "Username" %>
  </div>
<hr />
  <div class="new-form-hints">
      <p><strong>What is it that you do.</strong></p>
    </div>
  <div class="field">
    <%= f.select :skill, ["Photographer", "Model", "Writer", ], prompt: "Choose Your Skill" %>
  </div>
<hr />
  <div class="new-form-hints">
      <p><strong>Change your email.</strong></p>
    </div>
    <div class="field">
      <%= f.email_field :email,  class: "form-control", placeholder: "Enter Your Email" %>
    </div>
<hr />
  <div class="new-form-hints">
      <p><strong>Enter your website here</strong></p>
    </div>
    <div class="field">
      <%= f.text_field :website, placeholder: "Website",  class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <hr />
      <%= f.password_field :password,  class: "form-control", autocomplete: "off", placeholder: "Enter new password" %>
        <div class="new-form-hints">
          <p><small>Enter a new password.</small></p>
        </div>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation,  class: "form-control", autocomplete: "off", placeholder: "Confirm new password" %>
        <div class="new-form-hints">
          <p><small>Confirm new Password.</small></p>
        </div>
    </div>
<hr />
  <div class="new-form-hints">
      <p><strong>Enter your current password to save changes</strong></p>
    </div>
    <div class="field">
      <%= f.password_field :current_password,  class: "form-control", autocomplete: "off", placeholder: "Enter current password" %>
    </div>
<br />
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary btn-block" %>
    </div>
<% end %>
