<div class="user-show-page">
	<div class="edit-avatar">
	  <%= image_tag @user.image.url(:small), class: "round-avatar-set" %>
	</div>

<h3><%= @user.username %></h3>
<p><%= @user.skill %></p>
<p><%= @user.msg %></p>
<p><%= @user.social_app %></p>
<p><%= @user.website %></p>


<hr />

<%= link_to "Project Proposal", new_project_proposal_path, class: "btn btn-primary" %>

<div class="container">
	<div id="posts">
	<% @post.each do |post| %>
		<div class="col-xs-6 col-md-3 col-md-1">
		<div class="post">
			<div class="post_image">
				<span class="duration"><%= post.skill %></span>
			<%= link_to image_tag(post.image.url(:small)), post_path(post) %>
		</div>
		<div class="index-post-description">

		<% if post.user == current_user.try(:admin) %>

		<%= link_to "Edit", edit_post_path(post) %>

		<span class="glyphicon glyphicon-user" aria-hidden="true"> <%= post.get_upvotes.size %></span>

		<% else %>

		<span class="glyphicon glyphicon-user" aria-hidden="true"> <%= post.get_upvotes.size %></span>
		<% end %>

		</div>
		</div>
	</div>
	<% end %>
</div>
