
<h3><%= @user.username %></h3>
<div>
	<% @post.each do |post| %>
		<div>
			<%= image_tag post.image.url(:small) %>
		</div>
		<%= post.title %><br />
		<%= post.user.username %><br />

		<% if user_signed_in? %>

		<p><%= post.get_upvotes.size %> Likes</p>

		<button><%= link_to "Like", like_post_path(post), method: :get %></button><br />
		<%= link_to "Edit", edit_post_path(post) %>
		<% else %>

			<p><%= post.get_upvotes.size %> Likes</p>

		<% end %>
		<div>
			<%= post.description %>
		</div>
	<% end %>
</div>