<div class="container new-project-heading"><h3>Sign in</h3>
</div>
<div class="container">
  <div class="signin-form">
  <div class="new-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <form>
          <div class="form-group">
              <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email" %>
          </div>

        <div>
          <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
        </div>
  <br />
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
  <hr />
        <div class="actions">
          <%= f.submit "Sign in", class: "btn  btn-primary btn-block"  %>
        </div>
        <div class="signin-links">
        <%= render "devise/shared/links" %>
        </div>
      </form>
    </div>
  </div>
</div>
<% end %>
