<% @posts.each do |post| %>
	<div>
		<%= image_tag post.image.url(:small) %>
	</div>
	<h4><%= link_to post.title, post_path(post) %></h4>

	<%= link_to post.user.username, user_path(post.user, @user) %><br />
	<p><%= post.description %></p>
	<% if current_user %>
	<%= link_to "Edit", edit_post_path(post) %>
	<%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
	<% else %>
	<% end %>
<% end %>
