<div class="container new-project-heading"><h3>Create a new project</h3>
</div>
<hr />
<div class="container">
	<div class="new-form">
		<%= form_for @post do |f| %>
		<form>
  			<div class="form-group">
				<div>
				    <%= f.file_field :image, class: "form-control", placeholder: "Upload Image" %>
				    <div class="new-form-hints">
					    <p><small>Upload an image for your project.</small></p>
				    </div>
				</div>
				<div>
					<%= f.text_field :title, class: "form-control", placeholder: "Project Title" %>
					<div class="new-form-hints">
						    <p><small>Enter a title for your project.</small></p>
					</div>
				</div>
				<hr />
				<div>
					<%= f.text_area :description, class: "form-control", placeholder: "Description" %>
				</div>
				<div class="new-form-hints">
	    			<p><small>Let people know what the project plan is.</small></p>
				</div>
				<br />
				<div>
					<%= f.submit class: "btn  btn-primary btn-block" %>
				</div>
			</div>
		</form>
		<% end %>
	</div>
</div>