<% if current_user.try(:admin) %>
<div class="container">
		<div class="container new-project-heading"><h3>Create a new project</h3>
		</div>
	<div class="new-form">
		<%= form_for @post do |f| %>
		<form>
		<hr />
  			<div class="form-group">
				<div>
			<div class="new-form-hints">
				<p><strong>Upload an image for your project</strong></p>
			</div>
				    <%= f.file_field :image, class: "form-control", placeholder: "Upload Image" %>
				</div>
			<hr />
				<div>
			<div class="new-form-hints">
				<p><strong>Enter a title for your project</strong></p>
			</div>
					<%= f.text_field :title, class: "form-control", placeholder: "Project Title" %>
				</div>
				<hr />
		<div>
			<div class="new-form-hints">
				<p><strong>Where will the project be held</strong></p>
			</div>
			<div class="field">
				<%= f.select :location, ["Harlem", " L.E.S", "Midtown"], prompt: "Location"  %>
   			</div>
		</div>
				<hr />
				<div class="new-form-hints">
	    			<p><strong>Provide people with your project details</strong></p>
				</div>
					<%= f.text_area :description, class: "form-control", placeholder: "No limit..." %>
				</div>
				<br />
				<div>
					<%= f.submit "Create", class: "btn  btn-primary btn-block" %>
				</div>
			</div>
		</form>
		<% end %>
	</div>
</div>
<% elsif current_user %>
<div>
	<h2>find out how you can become a project manager</h2>
	<p>Please fill out this form to apply!</p>
</div>
<% end %>