<div class="container">
	<div class="post_container">
	<div id="post_show">
		<div class="clearfix">
	    	<div class="post_image_description">
				<%= image_tag @post.image.url(:medium) %>
				</div>

			<div class="user_post_email">
				<strong>User:</strong> <br />
				<%= link_to @post.user.username, user_path(@post.user, @user)  %>
			</div>
			<hr />
			<div class="user_post_email">
				<strong>Email:</strong> 
				<%= link_to @post.user.email, user_path(@post.user, @user) %>
			</div>
		</div>
		</div>
		<hr />
			<h4><%= @post.title %></h4>
			<div class="joined-button">
				<%= @post.get_upvotes.size %> Requests
			</div>
			<hr />
			<div class="user_post_email">
				<strong>Location: </strong> 
				<%= link_to @post.user.email, user_path(@post.user, @user) %>
			</div>
			<hr />
			<strong>Description:</strong> 
			<div class="post_description_info">

				<%= @post.description %>
			</div>
			<% if @post.user == current_user %>

				<div class="post_join_button">
					<hr />
					<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default btn-block"%>
				</div>
				<div class="post_join_button">
					<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger btn-block" %>
				</div>

				<% else %>
				
				<div class="post_join_button">
					<%= link_to "Like", like_post_path(@post), method: :get, class: "btn btn-primary btn-block" %>
				</div>
			<% end %>

			</div>
		</div>
	</div>
	</div>
</div>
