<%= image_tag @post.image.url(:medium) %>

<h4><%= @post.title %></h4>
<%= link_to @post.user.email, user_path(@post.user, @user) %><br />
<%= @post.description %><br />
<% if current_user %>
	<%= link_to "Edit", edit_post_path(@post) %>
	<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
<% else %>
<% end %>