<div class="post-show-info">
<div class="container">
	<div class="post_container">
	<div id="post_show">
		<div class="clearfix">
	    	<div class="post_image_description">
				<%= image_tag @post.image.url(:medium) %>
			</div>

			<div class="user_post_email">
				<strong>Project Manager:</strong> <br />
				<%= link_to @post.user.username, user_path(@post.user, @user)  %>
			</div>
			<hr />
			<div class="user_post_email">
				<strong>Web:</strong> 
				<%= @post.user.website %>
			</div>
		</div>

		</div>
		<br />
			<h4><%= @post.title %></h4>
			<div class="post_description_info">
				<%= @post.description %>
			</div>
			<hr />
			<div class="group-size">
				<strong>Location: </strong> 
				<span><%= @post.location %><span>
			</div>
			<div class="group-size">
			<strong><%= @post.skill %></strong><span><%= @post.group %><span>
			</div>
			<div class="group-size">
				<strong>Requests</strong>
				<span><%= @post.get_upvotes.size %><span>
			</div>

			<div class="budget-show">
				<strong>Budget:</strong><br />
				<span><small>$</small><%= @post.budget %><span>
			</div>


			<% if @post.user == current_user %>

				<div class="post_join_button">
					<hr />
					<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default btn-block"%>
				</div>
				<div class="post_join_button">
					<%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-danger btn-block" %>
				</div>

				<% else %>
				
				<div class="post_join_button">
					<%= link_to "Request", like_post_path(@post), method: :get, class: "btn btn-primary btn-block" %>
				</div>
			<% end %>
			</div>
		</div>
		</div>
	</div>
</div>
</div>